<% @questions.each do |q| %>
<ul class="media-list">
  <li class="media media-middle">
    <div class="media-left">
      <a href="#">
        <img class="media-object media-middle" src="<%= q.gravatar %>" alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body media-middle">
      <h4 class="media-heading"><%= q.email %> asked:</h4>
      <div><%= time_ago_in_words q.created_at %> ago</div>
      <%= q.body %>
    </div>
      <div class="media-right">
        <a href="<%= question_path(q) %>" class="btn btn-success btn-sm" role="button">View Answers</a>
      </div>
    
  </li>
</ul>
<% end %>

<% if @questions.empty? %>
  <div class="alert alert-info">Nothing here yet, be the first to ask?</div>
<% end %>


      